# Cmake Files
CMakeFiles
CMakeScripts
CMakeCache.txt
Makefile
cmake_install.cmake
ALL_BUILD*
ZERO_CHECK*
GBA.vcxproj*
GameBoyAdvanceEmulator.sln

# VS Code
.vscode/
*.exe
.cmake/
compile_commands.json


# Rom Files
ROMS/
SAVES/

#Testing
*.log